.about {
    display: flex;
    flex-direction: column;

    @media @tablet {
        padding: 6%;
    }
    
    @media @phone {
        padding: 6%;
    }

    h3 {
        color: @grey-font;
    }

    h1 {
        text-align: center;
        margin: 4% 0;
        font-size: 4rem;
        color: @grey-font;
    }//ends about h1
}//ends about


.backend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 20%;

    img {
        height: 12vh;
        transition: all 800ms ease-in-out;

    }

        img:hover {
            -ms-transform: rotate(360deg); /* IE 9 */
            -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
            transform: rotate(360deg);
        }

    p {
        margin-top: 2%;
    }
}//ends backend

.twoboxes {
    display: flex;
    justify-content: space-between;
    margin: 8% 0;

    p {
        margin-top: 2%;
    }
}//ends twoboxes

.frontend {
    text-align: center;
    margin-right: 4%;

    img {
        height: 12vh;
        transition: all 800ms ease-in-out;
    }

        img:hover {
            -ms-transform: rotate(360deg); /* IE 9 */
            -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
            transform: rotate(360deg);
        }
}//ends frontend

.ui {
    text-align: center;
    margin-right: 4%;
  

    img {
        height: 12vh;
        transition: all 800ms ease-in-out;
    }

    img:hover {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
    }
}//ends ui