.hiw {
    display: flex;
    flex-direction: column;

    @media @tablet {
        padding: 6%;
    }
    
    @media @phone {
        padding: 6%;
    }
}

.hiw h1 {
    margin: 4% 0;
    font-size: 4rem;
}

.sect1 {
    .flexbox(center, flex-start);
    margin-bottom: 2%;

    @media @phone {
        margin-bottom: 6%;
    }
}

.sect1 img {
    width: 10%;
    margin-right: 2%;
}

.sect1 img:hover {
    transform:rotateY(180deg);
}

.sect1 p {
    font-size: 2.2rem;
}

.sect2 {
    .flexbox(center, flex-start);
    margin-bottom: 2%;

    @media @phone {
        margin-bottom: 6%;
    }
}

.sect2 img {
    width: 10%;
}

.sect2 img:hover {
    transform:rotateY(180deg);
}

.sect2 p {
    font-size: 2.2rem;
}

hr {
    border-width: 2px;
    margin-top: 12%;
    margin-bottom: 12%;
}