.mission {
    .flexbox(center, space-evenly);
    margin: 4% 10%;
    text-align: center;
    padding: 4%;

    @media @phone {
        flex-direction: column;
    }
}

.mission h2 {
    @media @tablet {
        font-size: 5.2rem;
    }
}


.mission p {
    margin-top: 4%;
}

.learn-more {
    display: block;
    border-radius: 30px;
    height: 8vh;
    width: 200px;
    font-size: 1.8rem;
    margin-top: 4%;
    color: #383838;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-transform: uppercase; 
    font-weight: bold;

    @media @phone {
        margin-bottom: 12%;
    }
}

.learn-more:hover { 
    transform: scale(1.1);
    background-color: @yellowAccent;
    color: #fffdf6;
    }

