header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 2% 2% 1%;
}

.logo {
    width: 20%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

a {
text-decoration: none;
color: @grey-font;
font-size: 2rem;
transition: all .2s ease-in-out;
}

a:hover {
    transform: scale(1.1);
    text-decoration: underline;
    color: @purp;
}